.FAQ {
  background: url('/images/bg-2.jpg') no-repeat center;
  background-size: cover;
}

.FAQ__content {
  background-color: $FAQ-color;
  padding: $xs-size;
  text-align: center;

  &--details {
    background-color: $home-page-color;
    color: $white;
  }
}

.FAQ__list {
  list-style: none;
  margin: 0;
  padding: $s-size 0;
}

.FAQ__item {
  background-color: darken($FAQ-color, 10%);
  border: 2px solid black;
  margin: $s-size 0;
  padding: $s-size 0;
}

.FAQ__button {
  margin: $s-size 0;
}