.FAQ {
  background-color: $FAQ-color;
  min-height: $content-min-height;
}

.FAQ__content {
  background-color: $FAQ-color;
  color: $white;
  padding: $xs-size;
  text-align: center;

  &--details {
    color: $white;
  }
}

.FAQ__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FAQ__item {
  background-color: darken($FAQ-color, 10%);
  margin: $s-size 0;
  padding: $s-size;
}

.FAQ__link {
  font-style: italic;
  text-decoration: underline;
}