.FAQ {
  background-color: $FAQ-color;
}

.FAQ__content {
  background-color: $FAQ-color;
  color: $white;
  min-height: $content-min-height;
  padding: $xs-size;

  @media (min-width: $desktop-breakpoint) {
    @include flexbox(center, center);
  }
}

.FAQ__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FAQ__item {
  background-color: darken($FAQ-color, 10%);
  margin: $s-size 0;
  padding: $s-size;
}

.FAQ__text {
  min-height: 25vh;
}

.FAQ__link {
  display: inline;
  font-style: italic;
  text-align: center;
  text-decoration: underline;

  &--bottom {
    display: block;
    flex-basis: 100%;
    margin: $m-size;
    text-decoration: none;
  }
}

.FAQ__button {
  margin: $s-size 0;

  @media (min-width: $desktop-breakpoint) {
    @include button-color($FAQ-color)
  }
}