.header {
  // background: url('/images/bg-1.jpg') no-repeat right;
  // background-size: cover;
}

.header__content {
  background-color: $home-page-color;
  color: $white;
  padding: $s-size;
  text-align: center;
}

.header__links {
  @include flexbox(center, center);
}

.header__link {
  flex-basis: 100%;
  margin: $xs-size 0;
}