.nav {
  // background-color: white;
  height: $nav-heigth;
  position: relative;

  @media (orientation: landscape) {
    height: $nav-heigth + 4vh;
  }
}

.nav__hamburger {
  @include flexbox(center, center);
  background-color: $black;
  flex-basis: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.nav__button {
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  font-size: $font-size-xxl;

  @media (orientation: landscape) {
    font-size: $font-size-xl;
  }
}

.nav__icon {
  color: $white;
}

.nav__list {
  @include flexbox(center, center);
  border-top: 1px solid $white;
  background-color: $black;
  color: $white;
  flex-basis: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  top: 0;
  transition: top .4s ease-in-out;

  &--hidden {
    top: -80vh;
  }
}

.nav__item {
  border-bottom: 1px solid $white;
  flex-basis: 100%;
  text-transform: uppercase;

  &:last-child {
    border-bottom: none;
  }
}