.nav {
  flex-basis: 100%;
  height: $nav-heigth;
  position: relative;

  @media (orientation: landscape) {
    height: $nav-heigth + 4vh;
  }

  @media (min-width: $desktop-breakpoint) {
    height: auto;
  }
}

.nav__hamburger {
  @include flexbox(center, center);
  background-color: $black;
  flex-basis: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.nav__button {
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  font-size: $font-size-xxl;

  @media (orientation: landscape) {
    font-size: $font-size-xl;
  }
}

.nav__icon {
  color: $white;
}

.nav__list {
  @include flexbox(center, center);
  border-top: 1px solid $white;
  background-color: $black;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  top: 0;
  transition: top .4s ease-in-out;
  z-index: 1;

  &--hidden {
    top: -80vh;
  }

  @media (min-width: $desktop-breakpoint) {
    background-color: $white;
    border: none;

    &--hidden {
      top: 0
    }
  }
}

.nav__item {
  border-bottom: 1px solid $white;
  flex-basis: 100%;
  text-transform: uppercase;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $desktop-breakpoint) {
    border: none;
    flex-basis: 20%;
    padding: $s-size 0;

    &:nth-child(1)>.link {
      &:hover {
        background-color: $home-page-color;
      }
    }

    &:nth-child(2)>.link {
      &:hover {
        background-color: $FAQ-color;
      }
    }

    &:nth-child(3)>.link {
      &:hover {
        background-color: $stats-color;
      }
    }

    &:nth-child(4)>.link {
      &:hover {
        background-color: $quiz-color;
      }
    }
  }
}

.nav__link {
  @media (min-width: $desktop-breakpoint) {
    color: black;
    font-size: $font-size-l;
    letter-spacing: 2px;
    padding: $m-size 0;
    transition: .2s;

    &:hover {
      color: $white;
    }
  }
}

.nav__text {
  margin: 0;
  padding: $m-size 0;

  @media (min-width: $desktop-breakpoint) {
    flex-basis: 20%;
  }
}