.statistics {
  @include flexbox(flex-start, center);
  background-color: $stats-color;
  min-height: $content-min-height;
  padding: $xs-size;
}

.statistics__content {
  min-height: 50vh;
}

.statistics__buttons {
  width: 100%;
}

.statistics__button {
  @include button-color($stats-color);
  color: $transparent-black;
  flex-basis: 100%;

  @media (min-width: $desktop-breakpoint) {
    flex-basis: 40%;

    &:hover {
      border: 2px solid $transparent-black;
    }
  }
}