@import './base/settings';
@import './base/base';
@import 'elements/titles';
@import 'elements/texts';
@import 'elements/link';
@import 'elements/button';
@import 'elements/form';
@import 'components/nav';
@import 'components/header';
@import 'components/footer';
@import 'components/faq';
@import 'components/quiz';