.buttons {
  @include flexbox(center, center);
  flex-grow: 1;

  @media (min-width: $desktop-breakpoint) {
    @include flexbox(center, space-around);
    flex-grow: 0;
    flex-basis: 100%;
    margin: 0 $xl-size;
  }
}

.buttons--vertical {
  flex-direction: column-reverse;
  flex-basis: 40%;

}

.button {
  border: none;
  border-radius: 30px;
  background-color: $transparent-black;
  margin: $s-size;
  padding: $m-size;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $desktop-breakpoint) {
    background-color: $white;
    border: 2px solid transparent;
    letter-spacing: 1px;
    font-size: $font-size-m;
    font-weight: bold;
    padding: $l-size;
    transition: .3s;
  }
}