.buttons {
  @include flexbox(center, center);
  flex-grow: 1;

  @media (min-width: $desktop-breakpoint) {
    @include flexbox(center, space-around);
    flex-grow: 0;
    flex-basis: 100%;
    margin: 0 $xl-size;
  }
}

.buttons--vertical {
  flex-direction: column-reverse;
  flex-basis: 40%;

}

.button {
  background-color: $white;
  border: 2px solid transparent;
  border-radius: 30px;
  font-weight: bold;
  font-size: $font-size-m;
  font-weight: bold;
  letter-spacing: 1px;
  margin: $s-size 0;
  padding: $l-size;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $desktop-breakpoint) {
    transition: .3s;
  }
}