.form {
  @include flexbox(center, center);
  background-color: darken($quiz-color, 10%);
}

.form__label {
  flex-basis: 100%;
  padding: $xs-size;
  text-align: center;
}

.form__select {
  border: none;
  border-radius: 5px;
  margin: $xs-size 0;
  padding: $xs-size 0;
  text-align: center;
  width: 100%;

  @media(min-width: $desktop-breakpoint) {
    padding: $s-size 0;
  }
}

.form__input {
  @extend .form__select
}

.form__alert {
  font-size: $font-size-xs;
  margin: $m-size;

  @media(min-width: $desktop-breakpoint) {
    font-size: $font-size-s;
    margin: $l-size 0 0 0;
  }
}