.text {
  font-size: $font-size-m;
  letter-spacing: 1px;
  margin: 0;
  padding: $s-size $xs-size;
  text-align: center;

  @media (min-width: $desktop-breakpoint) {
    text-align: justify;
    text-align-last: center;
  }


  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-l;
    padding: $s-size $xl-size;
  }
}