.title {
  font-size: $font-size-xl;
  letter-spacing: 1px;
  margin: 0;
  padding: $s-size 0;
  text-align: center;

  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-xxl;
    padding: $s-size $xl-size;
  }
}

.subtitle {
  font-size: $font-size-l;
  letter-spacing: 1px;
  margin: 0;
  padding: $s-size 0;
  text-align: center;

  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-xl;
    // padding: $s-size $xl-size;
  }
}