@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Red Hat Text', Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

.wrapper {
  box-shadow: 0 0 15px 10px rgb(200, 200, 200);
  margin: 0 auto;
  max-width: 1600px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}