@mixin flexbox($align: flex-start, $justify: flex-start) {
  display: flex;
  flex-wrap: wrap;
  align-items: $align;
  justify-content: $justify
}

@mixin button-color($color) {
  color: $color;
  flex-basis: 40%;
  transition: .3s;

  @media (min-width: $desktop-breakpoint) {
    &:hover {
      border: 2px solid $white;
      background-color: $color;
      color: $white;
    }
  }
}

// Colors
$transparent-black: rgba(20, 20, 20, .95);
$black: #131313;
$home-page-color: #006db3;
$FAQ-color: #00675b;
$stats-color: #9fa8da;
$quiz-color: #455a64;
$white: rgb(239, 232, 232);
// Font Size
$font-size-xxl: 4.5rem;
$font-size-xl: 3.4rem;
$font-size-l: 2.5rem;
$font-size-m: 2.0rem;
$font-size-s: 1.7rem;
$font-size-xs: 1.2rem;
// Spacing
$xl-size: 20.0rem;
$l-size: 3.0rem;
$m-size: 1.8rem;
$s-size: 1.2rem;
$xs-size: .9rem;

$nav-heigth: 15vh;
$content-min-height: 80vh;

$tablet-breakpoint: 650px;
$desktop-breakpoint: 1000px;