@mixin flexbox($align: flex-start, $justify: flex-start) {
  display: flex;
  flex-wrap: wrap;
  align-items: $align;
  justify-content: $justify
}

// Colors
$transparent-black: rgba(20, 20, 20, .95);
$black: #131313;
$home-page-color: rgba(0, 115, 176, .9);
$FAQ-color: rgba(253, 216, 53, .9);
$quiz-color: rgba(55, 71, 79, .9);
$white: rgb(239, 232, 232);
// Font Size
$font-size-xxl: 5.0rem;
$font-size-xl: 3.0rem;
$font-size-l: 2.4rem;
$font-size-m: 1.8rem;
$font-size-s: 1.5rem;
$font-size-xs: 1.1rem;
// Spacing
$xl-size: 20.0rem;
$l-size: 3.2rem;
$m-size: 1.8rem;
$s-size: 1.2rem;
$xs-size: .9rem;

$nav-heigth: 15vh;

$tablet-breakpoint: 650px;
$desktop-breakpoint: 1000px;